:before
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{

}

img{
  width: 100px;
}

nav{
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  padding: 15px 25px;
  background-color: #fafafa;
  box-shadow: inset 0px -1px 0px #c5c5c6;
  z-index: 9999;
}

.nav-icon{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span{
  font-family: Roboto Flex, sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #333;
}

.nav-icon img{
  width: 80px;
  transform: rotate(-17deg) translateX(5px);
}

.hamburger{
  display: none;
}

.navlinks-container a{
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #414141;
  display: inline-block;
  position: relative;
}

.navlinks-container a::after{
  content: "";
  display: block;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after{
  transform: scaleX(1);
}

@media (max-width :900px) {
  nav{
    padding: 15px 20px;
    position: relative;
  }
  .nav-icon{
    order: 2;
    margin: 0 auto;
  }
  .nav-icon span {
    font-size: 22px;
  }
  .main-navlinks {
    order: 1;
  }
  
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #fafafa;
    align-items: center;
    position: relative;
  }


  .navlinks-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #fafafa;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
  }
  .open{
    transform: translate(0%);
  }
  .navlinks-container a{
    font-size: 18px;
    margin: 10px 0px
  }
}

@media (max-width: 500px) {
  .nav-icon img{
    width: 30px;
  }
  .nav-icon span{
    font-size: 20px;
  }
}

.grande-image{
  width: 100%;              
  height: auto;             
  display: block;           
  margin: 0;                
  position: relative;
  z-index: 1; 
  object-fit: cover;
}
.histoire{
  color: black;
  font-family: Roboto Flex, sans-serif;
  text-decoration: none;
}
.intro{
  font-family: light;
  font-size: 18px;
  color: #101010;
  margin-bottom: 10px;
  text-transform: none;
  letter-spacing: 0px;
  line-height: 150%;
  margin-top: -0.25em;
}
.texte{
    font-family: light;
  font-size: 18px;
  color: #101010;
  margin-bottom: 10px;
  text-transform: none;
  letter-spacing: 0px;
  line-height: 150%;
  margin-top: -0.25em;
  
}
h3 {
  margin-bottom: 20px;
  font-family: semibold;
  font-size: 22px;
  text-transform: none;
  color: #594949;
  letter-spacing: 0.5px;
}

.Commerciaux{
    color: black;
  font-family: Roboto Flex, sans-serif;
  text-decoration: none;
}

.evo{
  color: black;
  font-family: Roboto Flex, sans-serif;
  text-decoration: none;
}

#Home,
#Histoire,
#Commerciaux,
#Chasseurs {
  scroll-margin-top: 120px;
}

#L-courrier,
#P-courrier{
   background: rgb(255, 255, 255);
   width: 70%;
   height: 180px;
   overflow-y: auto;
   overflow-x: hidden;
}

.A350,
.A318{
  width: 800px;
}

#C-courrier{
     background: rgb(255, 255, 255);
   width: 70%;
   height: 180px;
   overflow-y: auto;
   overflow-x: hidden;
}

.class {
      color: black;
  font-family: Roboto Flex, sans-serif;
  text-decoration: none;
}



.container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
padding: 20px;
}


.card {
background: #fff;
border-radius: 10px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
width: 300px;
padding: 15px;
text-align: center;
}


.card img {
width: 100%;
border-radius: 8px;
}


.card h2 {
margin: 10px 0;
}


.card p {
font-size: 0.95rem;
color: #555;
}